#introduction {
  .item-container {
    .name {
      &:before,
      &:after {
        top: 50%;
        width: 30px;
        height: 4px;
        content: '';
        background: #000;
        position: absolute;
        font-family: "Kaushan Script", cursive;
      }

      &:before {
        left: 0;
        margin-left: -40px;
      }

      &:after {
        right: 0;
        margin-right: -40px;
      }
    }

    .resume {
      border-bottom: 1px solid black;
    }
  }
}

.item-container {
  max-width: 1280px;
}