html {
  scroll-behavior: smooth;
}

#introduction {
  .item-container {
    .name {
      &:before,
      &:after {
        top: 50%;
        width: 30px;
        height: 4px;
        content: '';
        background: #000;
        position: absolute;
        font-family: "Kaushan Script", cursive;
      }

      &:before {
        left: 0;
        margin-left: -40px;
      }

      &:after {
        right: 0;
        margin-right: -40px;
      }
    }

    .resume {
      border-bottom: 1px solid black;
    }
  }
}

.item-container {
  max-width: 1280px;
}

#hamburger {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  justify-content: space-evenly;
  border-radius: 4px;
  cursor: pointer;
  transition: visibility .1s ease-out;
  z-index: 1040;

  &.menu-active {
    visibility: hidden;
  }

  span {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
  }
}

#actual-menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  font-family: 'Space Mono', monospace;
  transition: right .3s ease-in;
  z-index: 1060;

  &.active {
    right: 0;
  }

  ul {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    li {
      width: 100%;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: black;
      }

      a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        display: block;
        width: 100%;
      }
    }
  }
}